body
{
	background-color: #002B36;
}

div
{
	background-color: #073642;
	border-radius: 10px;
	margin: 5px;
	padding: 1px 20px;
}

.sidebar
{
	position: fixed;
	color: #839496;
	width: 10%;
	z-index: 1;
}

.sidebar ul
{
	margin-left: -20%;
}

.header
{
	position: relative;
	padding: auto;
	float: right;
	height: 75px;
	width: 82%;
}
